{
  "BUILD": "your build",
  "BUILD_IS_KEYBOARD": true,
  "BUILD_NOT_KEYBOARD_MSG": "message for when build is not a keyboard",
  "CHARITY": "charity message",
  "COLLECTION": "collection message",
  "COMMANDS": "commands list message",
  "CONTROLS": "splatoon controls messaage",
  "DISCORD": "discord link message",
  "FILM": "service message",
  "GAME_ID": "switch friend code message",
  "GEAR": "gear message",
  "HYPE_GAME": "game excitement message",
  "HYPE_SUB": "sub excitement message",
  "LURK": "lurk acknowledgement message",
  "PC": "primary pc specs",
  "PC_STREAM": "secondary pc specs",
  "SOCIALS_ALL": "message for all social media account links",
  "SOCIALS_IG": "instagram link",
  "SOCIALS_GITHUB": "github link",
  "SOCIALS_TWITTER": "twitter link",
  "SOCIALS_YOUTUBE": "youtube link",
  "SOCIALS_YOUTUBE_VODS": "secondary youtube link",
  "SETTINGS_TICKER": {
   "BUILD": true,
   "DEFAULTS": false,
   "SPOTIFY": true,
   "ACNH": false,
   "SPLATOON_SOLOQ": false,
   "SPLATOON_LEAGUE": false,
   "SPLATOON_SALMON": false
  }
}
