{
  "AC_MESSAGE": "",
  "BUILD": "",
  "KEYBOARD": "",
  "CASSETTES": "",
  "CHARITY": "",
  "COLLECTION": "",
  "COMMANDS": "",
  "CONTROLS": "",
  "DISAPPROVAL": "",
  "DISCORD": "",
  "DK": "",
  "FAVES": "",
  "FILM": "",
  "GAME_ID": "",
  "GEAR": "",
  "GIVEAWAY": "",
  "HYPE_GAME": "",
  "HYPE_SUB": "",
  "KEYSETS": "",
  "KEYSETS_UNUSED": "",
  "LURK": "",
  "PC": "",
  "PC_STREAM": "",
  "PLATES": "",
  "RAID1": "",
  "RAID2": "",
  "SOCIALS_ALL": "",
  "SOCIALS_GITHUB": "",
  "SOCIALS_IG": "",
  "SOCIALS_TWITTER": "",
  "SOCIALS_YOUTUBE": "",
  "SOCIALS_YOUTUBE_VODS": "",
  "SWITCHES": "",
  "SWITCHES_READY": "",
  "SWITCHES_TUNABLE": "",
  "STORE": "",
  "SUBATHON": "",
  "VINYL": "",
  "WARUGAKI": "",
  "WEBSITE": "",
  "SETTINGS_TICKER": {
   "BUILD": true,
   "DEFAULTS": true,
   "SPOTIFY": false,
   "ACNH": false,
   "SPLATOON_SOLOQ": false,
   "SPLATOON_LEAGUE": false,
   "SPLATOON_SALMON": false
  }
}
